.admin-dashboard .custom-nav {
    background-color: #3C173E;
}

.admin-dashboard .custom-link {
    color: white;
    font-size: large;
    transition: all 0.3s ease;
}
.admin-dashboard .custom-link:hover {
    color: white;
    text-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}

.admin-dashboard .card {
    background-color: #D3B7DE;
    margin-top: 10px;
    color: black;
    transition: all 0.3s ease;
}

.admin-dashboard .active-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.admin-dashboard .pending-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.admin-dashboard .resolved-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.admin-dashboard .tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.admin-dashboard .quotes:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.admin-dashboard .edits:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}

.admin-dashboard {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


.admin-dashboard.quick-links {
    color: white;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.admin-dashboard .footer {
    background-color: #3C173E;
    height: 50px;
}