.landing-page {
  width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.landing-page .image {
  position: absolute;
  top: 20px;
  left: 20px;
  
}
.landing-page .image img {
  width: 500px;
  height: 100px;
  
}

.landing-page .landing-text {
    margin-top: 100px;
}
.landing-page h1 {
    color: white;
}
.landing-page h2 {
    color: white;
}

.landing-page .buttons {
    margin-top: 100px;
}
.landing-page .buttons .admin-button {
    width: 500px;
    height: 100px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 40px;
    background-color: #3C173E;
    color: white;
    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;
}
.landing-page .buttons .customer-button {
    width: 500px;
    height: 100px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 40px;
    background-color: #3C173E;
    color: white;
    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;
}
.landing-page .buttons .admin-button:hover {
    color: white;
    background-color: #67236A;
}
.landing-page .buttons .customer-button:hover {
    color: white;
    background-color: #67236A;
}