:root {
  --giacom-dark-blue: #100235;
  --giacom-purple: #67236a;
  --giacom-pink: #ec008c;
  --giacom-gold: #ffb91d;
}
/* Nav */
.view-ticket .custom-nav {
    background-color: var(--giacom-purple);
}


.view-ticket .custom-nav {
    background-color: #3C173E;
}


.view-ticket .custom-link {
    color: white;
    font-size: large;
    transition: all 0.3s ease;
}
.view-ticket .custom-link:hover {
    color: white;
    text-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
/* Ticket header */
.view-ticket .card.singleTicket {
    background-color: #D3B7DE;
    margin-top: 10px;
    color: black;
    transition: all 0.3s ease;
    max-width: 1000px;
}

.view-ticket .card.singleTicket .card-body .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-ticket .card.singleTicket .card-body .heading .ticketno {
    color: #796482;
}
.view-ticket .card.singleTicket .card-body .heading .account {
    background-color: var(--giacom-purple);
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 3px;
}

.view-ticket .card.singleTicket .card-body .title {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.view-ticket .card.singleTicket .card-body .date {
    color: #a268a5;
    text-align: left;
    background-color: #d8acdb;
    border: 1px solid #b97ebc;
    border-radius: 10px;
    padding: 10px;
}

/* Ticket info */
.view-ticket .container.information .row .type, .status, .severity, .impact {
    color: #a268a5;
    background-color: #d8acdb;
    border: 1px solid #b97ebc;
    border-radius: 10px;
    margin: 5px;
    width: auto;

}
.view-ticket .container.information .row .type, .status, .severity, .impact, .users, .quote p {
    font-size: 15px;
    font-weight: normal;
}
.view-ticket .container.information .row .users, .quote {
    color: #a268a5;
    background-color: #d8acdb;
    border: 1px solid #b97ebc;
    border-radius: 10px;
    margin: 5px;
    width: 48.2%;
    text-align: left;

}
.view-ticket .container.information .row .desc, .att {
    color: #a268a5;
    background-color: #d8acdb;
    border: 1px solid #b97ebc;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    text-align: left;

}
/* Buttons */
.view-ticket .action-btn .resolved, .escalated {
    background-color: var(--giacom-pink);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    transition: all 0.3s ease;
    margin-left: 30px;
    margin-right: 30px;
}
.view-ticket .action-btn .resolved:hover, .escalated:hover {
   background-color: #f47fc5;
}
