.custom-nav {
    background-color: #3C173E;
}

.custom-link {
    color: white;
    font-size: large;
    transition: all 0.3s ease;
}
.custom-link:hover {
    color: white;
    text-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}

.card {
    background-color: #D3B7DE;
    margin-top: 10px;
    color: black;
    transition: all 0.3s ease;
}

.active-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.pending-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.resolved-tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.tickets:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.quotes:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}
.edits:hover {
    box-shadow: 0 0 10px #bc52c2, 0 0 20px #bc52c2;
}

.admin-dashboard {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


.quick-links {
    color: white;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.footer {
    background-color: #3C173E;
    height: 50px;
}