:root {
  --giacom-dark-blue: #100235;
  --giacom-purple: #67236a;
  --giacom-pink: #ec008c;
  --giacom-gold: #ffb91d;
}

.modal-content {
    background-color: #fff;
}

.btn-primary {
    background-color: var(--giacom-pink);
    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #f47fc5;
}
.btn-primary:active {
    background-color: #f47fc5;
}

.btn-close {
    background-color: var(--giacom-pink);
}