.customerNavbar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.customerNavbar .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.customerNavbar .navbar .navbar-header {
    display: flex;
    align-items: center;
    background-color: #3C173E;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.customerNavbar .navbar .navbar-header .hamburger {
    background-color: #bc52c2;
    transition: all 0.3s ease;
    border: none;
}
.customerNavbar .navbar .navbar-header .hamburger:hover {
    background-color: #e896ed;
}
.customerNavbar .navbar .navbar-header .hamburger:active {
    background-color: #e896ed;
}

.customerNavbar .navbar .navbar-links {
    background-color: #3C173E;
    display: none;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    position: absolute;
    top: 10;
    left: 0;
    z-index: 1001;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
}
.customerNavbar .navbar .navbar-links.on {
    display: flex;
    transform: translateX(0);
}
.customerNavbar .navbar .navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.customerNavbar .navbar .navbar-links .nav-link {
    /* border-bottom: 2px solid #77327b; */
    padding: 15px 20px;
    color: white;
    display: block;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.customerNavbar .card {
    background-color: #bc52c2;
    margin-top: 10px;
    color: white;
    transition: all 0.3s ease;
    height: 10px;
    justify-content: center; 
}
.customerNavbar .card:hover {
    background-color: #e896ed;

}